
/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

.project {
	background-color:gray;
}

.columnLeft {
     margin-left:50px;
}

.columnMiddle {
     margin-left: 150px;
}

.columnRight {
     margin-left: 300px;
}
